body {
  padding: 60px;
  form {
    &.hidden {
      display: none;
    }
  }
}

/* body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }

  form {
    &.hidden {
      display: none;
    }
  }
} */
