body.home.index,
body.home.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .W_FlexGroup {
    padding-top: 20vh;
  }

  .A_Button.tertiary {
    justify-self: flex-end;
  }
}

/* body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }

  form {
    &.hidden {
      display: none;
    }
  }
} */
