body.swatches {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .swatch {
    margin: 60px 0;
  }

  .fills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .newSwatchForm {
    margin: 30px 0;

    .addFillButton {
      cursor: pointer;
      width: 202px;
      height: 104px;
      line-height: 104px;
      text-align: center;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 5px;

      &:hover {
        background-color: rgb(237, 237, 237);
      }
    }
  }

  .O_SwatchFormContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 990px;
    /* max-height: 600px; */
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* overflow-y: scroll; */

    .A_Input {
      width: 950px;
      margin-top: 20px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }

    .A_Button {
      cursor: pointer;
      width: fit-content;
      margin-top: 20px;
      padding: 12px 10px;
      background-color: rgb(35, 141, 255);
      color: white;

      &.disabled {
        cursor: not-allowed;
        background-color: rgb(103, 109, 116);
      }
    }

    .M_FillCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      gap: 20px;
      width: 950px;
      max-height: 600px;
      padding: 20px;
      margin-top: 20px;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 5px;
      overflow-y: scroll;

      .preloader {
        width: 100%;
        margin-top: 280px;
        text-align: center;
      }
    }
  }
}
