body.swatches {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .swatch {
    margin: 60px 0;
  }

  .fills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .newSwatchForm {
    margin: 30px 0;
  }
}
