@import 'stylesheets/reset.css';
@import 'stylesheets/vars.css';
@import 'stylesheets/fonts.css';
@import 'stylesheets/basics.css';
@import 'stylesheets/home.css';
@import 'stylesheets/swatches.css';

@import 'stylesheets/components/A_FillCard.css';
